.login2{
    background-color:#e8e8e8;
    min-height:50vh;
    position:relative;

   

    

    >.footer{
        position:fixed;
        bottom:0;
        width:100%;
        
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
       
        font-size: 0.8rem;
        
        >.footer_top{
            
            display:flex;
            width: 100%;
            align-items:center;
            justify-content:center;

            >p{
                display:flex;
                align-items:center;
                justify-content:center;
                flex-wrap: wrap;
                flex:1;
                text-align:center;
                padding:1rem;
                gap: 3px;;
                >label{
                    border:none;
                    background-color:#e8e8e8;
                    color:#3f51b5;
                   
                }
            }
            
        }

        >.footer_bottom{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            background-color:white;
            width:100%;
            height:60px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            >p:last-child{
                color:gray;
                font-size:0.7rem;
            }
        }
    }
}