.appeler{
	background-color:whitesmoke;
	height:100vh;
	position:relative;
	
	.top{
		display:flex;
		align-items:center;
		justify-content:center;
		flex-direction:column;
		padding-top:2rem;
		
		h2{
			margin-top:1rem;
			text-align:center;
		}
		
		p{
			font-size:0.8rem;
			color:gray;
			text-align:center;
		}
	}
	
	.middle{
		display:flex;
		justify-content:center;
		align-items:center;
		margin-top:3rem;
		
		div{
			display:flex;
			flex-direction:column;
			align-items:center;
			margin-right:1rem;
			justify-content:center;
			
				button{
				width:60px;
				height:60px;
				border-radius:50%;
				border:none;
				
				background-color:white;
				color:silver;
			}
			
			button:last-child{
				margin-right:none;
				
			}
			
			p{
				font-size:0.7rem;
				color:gray;
				margin-top:0.5rem;
			}
		}
		
	}
	
	.bottom{
		position:absolute;
		display:flex;
		align-items:center;
		justify-content:center;
		bottom:4rem;
		left:40%;
		button{
			width:60px;
			height:60px;
			border-radius:50%;
			border:none;
			outline:none;
			background-color:indianred;
			color:white;
		}
		
	}
}