.detail_commande{
	.detail_commande_body{
		display:flex;
		flex-direction:column;
		min-height:calc(100vh);
		background-color:whitesmoke;
		.maps{
			flex:1;
			img{
				 height:50vh;
				 width:100%;
				 object-fit:cover;
			}
		}
		
		.details{
			flex:1;
			display:flex;
			flex-direction:column;
			
			padding:1rem;
			
			.details_line{
				display:flex;
				justify-content:space-between;
				align-items:center;
				margin-bottom:1rem;
				div{
					background-color:white;
					padding:1rem;
					width:40%;
					display:flex;
					flex-direction:column;
					align-items:center;
					justify-content:center;
					
					p:first-child{
						font-size:0.8rem;
						font-weight:bold;
					}
					p:last-child{
						font-size:0.7rem;
						color:gray;
					}
				}
			}
			
			.detail_price{
				display:flex;
				justify-content:center;
				align-items:center;
				margin-bottom:1rem;
			}
			
			.detail_confirm{
				display:flex;
				justify-content:center;
				align-items:center;
				button{
					padding:1rem;
					border:none;
					outline:none;
					background-color:white;
					box-shadow:5px 10px #eee;
					color:#3f51b5;
					font-weight:bold;
					font-size:0.9rem;
					border-radius:5px;
					width:60%;
				}
			}
			
			
			
			
		}
	}
}