.enable_disabled_location{
    position:relative;
    
    >.line{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        font-size:0.8rem;

        >p{
            font-weight: bold;
            text-align:center;
        }

        >button{
            margin-top: 1rem;
            padding:0.5rem;
            font-weight: bold;
            border:none;
            width:100%;
        }

        >.btn_activer_location{
            background-color:var(--main);
            color:white;
            padding:0.6rem;
        }

        >.btn_disable_location{
            background-color:indianred;
            color:white;
            padding:0.6rem;
        }
    }

    >.btn_close{
    
    margin-top: 1rem;
   display:flex;
    justify-content:center;
    >button{
        width:40px;
        height:40px;
        border-radius: 50%;
        border:none;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    }
}