.login_etape1{

    position:relative;
    >.head{
        display:flex;
        flex-direction: column;
        align-items:center;
        text-align:center;
        padding:1rem;
        >h1{
            font-size:1.2rem;
            margin-bottom: 0.5rem;
        }
        >p{
            font-size: 0.8rem;
        }
    }

    >.body{
        padding:1rem;
        display:flex;
        flex-direction: column;
        align-items:center;
        
        
        >.line{
           
            width: 100%;
            margin-bottom: 1rem;
            
            >div{
                display:flex;
                align-items:center;
                background-color:gray;
                
                >select{
                    flex:1;
                    padding:0.6rem;
                    border:none;
                    outline:none;
                    background-color:gray;
                    text-align:center;
                    flex:3;
                    color:white;
                }

                >input{
                    outline:none;
                    border:none;
                    padding:0.8rem;
                    text-align:center;
                    flex:3;
                    background-color:gray;
                    color:white;
                }

                >p{
                    font-size: 0.8rem;
                    font-weight: bold;
                    padding:0.5rem;
                    width:50px;
                }
                
            }

            >p{
                display:flex;
                align-items:center;
                justify-content:center;
                
                margin-top: 2rem;
                font-size: 0.8rem;

                >button{
                    background-color:transparent;
                    border:none;
                    outline:none;
                    color:var(--color);
                    padding:0.5rem;
                }
            }

            
        }

        .line2{
            width: 100%;
            display:flex;
            align-items:center;
            justify-content:center;
            >button{
                padding:1rem;
                width:150px;
                border:none;
                background-color:white;
                color:var(--main);
                font-size: 0.8rem;
                font-weight: bold;
                cursor:pointer;
                border-radius: 5px;
                
            }
        }
    }

    
}