.profile{
	background-color:#e8e8e8;
	min-height:100vh;

	>.profile_body{
		>.top{
			
			position:relative;
			width:150px;
			margin:auto;

			>button{
				
				position:absolute;
				right:0px;
				bottom:40px;
				width:50px;
				height:50px;
				border-radius: 50%;
				border:none;
				background-color:#3f51b5;
				color:white;
				
			}
		}
	}
}

.stats{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	border-right:1px solid silver;
	padding-right:1rem;
	flex:1;
	p:first-child{
		font-weight:bold;
		font-size:1rem;
	}
	
	p:last-child{
		font-size:0.8rem;
		color:gray;
	}
}

.stats:last-child{
	border-right:none;
}

.zone_edit{
	display:flex;
	align-items:center;
	justify-content:center;
	padding:1rem;
	
	button{
		padding:1rem;
		border:none;
		outline:none;
		background-color:#3f51b5;
		color:white;
		font-size:0.8rem;
		font-weight:bold;
	}
}

.zone_edit_profile{
	display:flex;
	>.line{
		display:flex;
		flex-direction:column;
		align-items:center;
		>label{
			font-weight: bold;
			font-size:0.8rem;
		}

		>div{
			display:flex;
			align-items:center;
			background-color:white;
			justify-content:center;
			>input{
				border:none;
				padding:0.5rem;
				outline:none;
				text-align:center;
			}
			>button{
				display:flex;
				align-items:center;
				justify-content:center;
				border:none;
				background-color:white;
			}
		}
	}
}