.publicite{
    background-color:whitesmoke;
    min-height:100vh;

    >.publicite_body{
        padding:1rem;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
        >img{
            width: 80px;
            height:80px;
        }

        
    }
}