.changer_numero{
    >.line{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        font-size:0.8rem;
        margin-top: 1rem;
        >label{
            font-weight: bold;
        }

        >div{
            display:flex;
            align-items:center;
            border-bottom: 1px solid silver;
            background-color: whitesmoke;
            >input{
                flex:1;
                border:none;
                outline:none;
                background-color:whitesmoke;
                padding:0.5rem;
                text-align: center;
            }

            >input:first-child{
                width:50px;
                border-right: 1px solid silver;
            }

            >span{
                width:5px;
            }
        }

        >button{
            width:100px;
            padding:0.5rem;
            font-weight: bold;
            display:flex;
            align-items:center;
            justify-content:center;
            background-color: #3f51b5;
            color:white;
            border:none;
            border-radius:3px;
        }

        >p{
            text-align:center;
        }
    }
}